In [1]:
# from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests

*importing all the required packages*

In [2]:
URL = "https://www.worldometers.info/coronavirus/"

# browser = webdriver.Firefox()
page = requests.get(URL)

# print(page.content)

soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find(id= 'main_table_countries_today')

In [3]:
# table.prettify()

In [4]:
thead = table.find('thead')
# thead

In [5]:
thead_cols = thead.find_all('th')


head = []

for col in thead_cols:
    head.append(col.text)

In [6]:
head

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Tot\xa0Deaths/1M pop']

In [7]:
tbody = soup.find('tbody')
# tbody

In [8]:
rows  = tbody.find_all('tr')
# rows

In [21]:
# rows[0]

In [17]:
row_data = []
for row in rows:
        cols = row.find_all('td')
        row = [i.text.strip() for i in cols]
        row_data.append(row)

In [11]:
# row_data

In [22]:
Country = []
TotalCases = []
NewCases = []
TotalDeaths = []
NewDeaths= []
TotalRecovered= []
ActiveCases= []
SeriousCritical= []
TotCases1Mpop= []
TotDeaths1Mpop= []


for row in row_data:
    Country.append(row[0])
    TotalCases.append(row[1])
    NewCases.append(row[2])
    TotalDeaths.append(row[3])
    NewDeaths.append(row[4])
    TotalRecovered.append(row[5])
    ActiveCases.append(row[6])
    SeriousCritical.append(row[7])
    TotCases1Mpop.append(row[8])
    TotDeaths1Mpop.append(row[9])

In [24]:
# Country

# TotalCases

In [36]:
df = pd.DataFrame({'Country/Other': Country, 'Total Cases': TotalCases, 'New Cases': NewCases, 'New Deaths': NewDeaths, 'Total Death': TotalDeaths,'Total Recovered': TotalRecovered, 'Active Cases':ActiveCases, 'Serious/Critical': SeriousCritical, 'Tot Cases/ 1M pop': TotCases1Mpop, 'Tot Deaths/ 1M pop': TotDeaths1Mpop} )

In [37]:
df

,Country/Other,Total Cases,New Cases,New Deaths,Total Death,Total Recovered,Active Cases,Serious/Critical,Tot Cases/ 1M pop,Tot Deaths/ 1M pop
0,China,"81,285",+67,+6,"3,287","74,051","3,947","1,235",56,2
1,Italy,"74,386",,,"7,503","9,362","57,521","3,489","1,230",124
2,USA,"68,905",+694,+10,"1,037",428,"67,440","1,455",208,3
3,Spain,"56,188","+6,673",+442,"4,089","7,015","45,084","3,166","1,202",87
4,Germany,"40,585","+3,262",+23,229,"5,669","34,687",23,484,3
...,...,...,...,...,...,...,...,...,...,...
194,Montserrat,1,,,,,1,,200,
195,Papua New Guinea,1,,,,,1,,0.1,
196,St. Vincent Grenadines,1,,,,,1,,9,
197,Timor-Leste,1,,,,,1,,0.8,
198,Turks and Caicos,1,,,,,1,,26,

In [38]:
df.to_csv('CoronaUpdate.csv', index=False, encoding='utf-8')